:root {
    --main-color: #2346FF;
    --hover-color : #1c3bd1;
}
.destination-page {
    margin: 0px auto;
    padding: 20px;
    font-family: 'Pretendard', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    width: 75vw;
  }
  
  .title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 25px;
    text-align: center;
  }
  
  .destination-box {
    display: flex;
    width: 100%;
    height: 510px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .country-list {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    min-width: 170px;
    border-right: 1px solid #ddd;

    max-height: 510px; /* 높이를 destination-box에 맞춰서! */
    overflow-y: auto; /* 스크롤 가능하게! */
  }

  /* country-list 스크롤바 스타일 */
  .country-list::-webkit-scrollbar {
    width: 6px;
  }

  .country-list::-webkit-scrollbar-thumb {
    background-color: rgba(190, 190, 190, 0.2);
    border-radius: 3px;
  }

  .country-list::-webkit-scrollbar-track {
    background-color: transparent;
  }

  
  .country-button {
    padding: 20px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
    text-align: left;
    padding-left: 20px;
    transition: 0.2s;
  }
  
  .country-button:hover {
    background-color: #eaeaea;
  }
  
  .country-button.active {
    color: var(--main-color);
    font-weight: 600;
    background-color: white;
    border-left: 3px solid var(--main-color);
  }
  
  .region-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 15px;
    gap: 55px 0px;
    flex: 1;
    background-color: #fff;
    align-content: start;

    max-height: 510px; /* destination-box 높이에 맞춤 */
    overflow-y: auto; /* 스크롤 가능 */
  }

  /* 깔끔한 스크롤바 스타일 (선택 사항) */
  .region-list::-webkit-scrollbar {
    width: 6px;
  }

  .region-list::-webkit-scrollbar-thumb {
    background-color: rgba(190, 190, 190, 0.2);
    border-radius: 3px;
  }

  .region-list::-webkit-scrollbar-track {
    background-color: transparent;
  }

  
  .region-item {
    margin-left: 50px;
    margin-top: 5px;
    font-size: 18px;
    color: #333;
    white-space: nowrap;
  }
  
  .region-item.selected {
    color: var(--main-color);
    font-weight: 500;
  }
  
  .search-input {
    width: 100%;
    max-width: 500px;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    align-self: flex-start;
  }
  
  .next-button {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 12px 36px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .next-button:hover {
    background-color: var(--hover-color);
  }
  