:root {
    --main-color: #2346FF;
    --hover-color: #1c3bd1;
  }
  
.mycourse-wrapper {
  margin: 0px 15vw;
  padding-top: 5vh;
  background-color: #fdfdfd;
}

.mycourse-header {
  margin-bottom: 20px;
}

.course-list {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.course-item {
  border: 1px solid var(--main-color);
  border-radius: 10px;
  padding: 15px 24px;
  font-size: 16px;
  color: var(--main-color);;
  background-color: white;
  transition: all 0.2s ease;
}

.course-item:hover {
  background-color: #f0f4ff;
  cursor: pointer;
}
